.divAPI {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divAQI {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.erro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCreate {
    background-color: #04B404;
    color: white;
    padding: 5px;
    border: 0 0 0 0;
}

.btnUpdate {
    background-color: #04B404;
    color: white;
    padding: 5px;
}

.btnDel {
    background-color: #04B404;
    color: white;
    padding: 5px;
}

.buttons {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.btnCreate:hover {
    background-color: #088A08;
}

.btnUpdate:hover {
    background-color: #088A08;
}

.btnDel:hover {
    background-color: #088A08;
}

.formAPI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionAPI {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}